.audio-player {
  display: flex;
  flex-direction: column; /* 컨텐츠를 세로로 정렬 */
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
}

.loading-text {
  text-align: center;
  margin-top: 20px; /* 텍스트 위쪽 여백 추가 */
}
