.meditation-detail-container {
  min-height: 90vh; /* 최소 높이를 브라우저 높이와 같게 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 수직 가운데 정렬을 위해 추가 */
  padding: 20px;
  text-align: center;
}


.meditation-image{
  width: 80%; /* 이미지의 가로 너비 설정 */
  display: flex;
  align-items: center; /* 수직 가운데 정렬을 위해 추가 */
  justify-content: center; /* 수평 가운데 정렬을 위해 추가 */
  overflow: hidden; /* 내부 내용이 넘치는 경우 숨김 처리 */
  aspect-ratio: 1 / 1; /* 이미지의 가로 너비와 높이를 1:1 비율로 유지 (정사각형) */
}

h1 {
  font-weight: bold; /* 텍스트를 볼드체로 설정 */
  margin-top: 50px; /* 텍스트 위에 20px의 공백 추가 */
  color: #000000 !important;
}